# === Environment and Package Management ===
venv/
.venv/
env/
venv_mlops_cv/
__pycache__/
*.pyc

# === Operating System and IDE Files ===
.DS_Store
.vscode/
.idea/
Thumbs.db
*.sublime-project
*.sublime-workspace

# === Data and Artifacts ===
# Raw large datasets are not committed
data/seg_train/
data/seg_test/

# Generated Data / Intermediate Features
data/*.csv

# Performance Metrics
data/*.txt

# Persisted Models (Phase 3 and onwards)
src/models/*.joblib
src/models/*.h5
src/models/*.keras
src/models/*.pt
src/models/*.pth

# MLflow / Experiment Tracking
mlruns/
.mlflow/

# === Jupyter Notebook Temporary Files ===
.ipynb_checkpoints/
*.ipynb.amltmp